* {
    margin: 0;
    padding: 0;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Lobster', cursive;
}

.gridItems {
    min-width: 100vw;
    height:100vh;
    display: grid;
    grid-template-columns:repeat(2, 1fr 3fr 1fr);
    grid-template-rows: 2fr .5fr 3fr 2fr 2fr;
    grid-gap: 1em;
}

.gridItem {
    justify-self: center;
}

#backgroundLeft {
    grid-area: 1 / 1 / 6 / 4;
    background: #f2b5d4;
    width: 100%;
    height: 100%;
    /*padding-right: 1em;*/
}

#backgroundRight {
    grid-area: 1 / 4 / 6 / 7;
    background: #7bdff2;
    width: 100%;
    height: 100%;
    /*padding-left: 1em;*/
}

#player1 {
    grid-area: 1 / 2 / 1 / 2;
    background: #f7d6e0;
    width: 60%;
    font-size: 3em;
    text-align: center;
    align-self: center;
    border-style: solid;
    border-radius: .8em;
    padding: .75em 1em;
}

#player2 {
    grid-area: 1 / 5 / 1 / 5;
    background: #b2f7ef;
    width: 60%;
    font-size: 3em;
    text-align: center;
    align-self: center;
    border-style: solid;
    border-radius: .8em;
    padding: .75em 1em;
}

#btnNewGame {
    grid-area: 2 / 3 / 2 / 5;
    background: #eff7f6;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    align-self: center;
    border-style: solid;
    border-radius: .8em;
    padding: 1em;
}

#player1HoldScore {
    grid-area: 3 / 2 / 3 / 2;
    background: #f7d6e0;
    width: 50%;
    font-size: 5em;
    text-align: center;
    align-self: center;
    border-style: solid;
    border-radius: .8em;
    padding: .75em 1em;
}

#player2HoldScore {
    grid-area: 3 / 5 / 3 / 5;
    background: #b2f7ef;
    width: 50%;
    font-size: 5em;
    text-align: center;
    align-self: center;
    border-style: solid;
    border-radius: .8em;
    padding: .75em 1em;
}

#dice {
    grid-area: 3 / 3 / 3 / 5;
    background: white;
    height:75%;
    width:50%;
    justify-self: center;
    align-self: center;
    text-align: center;
    border-style: solid;
    border-radius: 50%;
    padding: .75em 1em;
}

#player1CurrentScore {
    grid-area: 4 / 2 / 6 / 2;
    background: #f7d6e0;
    width: 50%;
    font-size: 5em;
    text-align: center;
    align-self: center;
    border-style: solid;
    border-radius: .8em;
    padding: .75em 1em;
}

#player2CurrentScore {
    grid-area: 4 / 5 / 6 / 5;
    background: #b2f7ef;
    width: 50%;
    font-size: 5em;
    text-align: center;
    align-self: center;
    border-style: solid;
    border-radius: .8em;
    padding: .75em 1em;
}

.smallTitle {
    font-size: .3em;
}

#btnRollDice {
    grid-area: 4 / 3 / 4 / 5;
    background: #eff7f6;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    align-self: center;
    border-style: solid;
    border-radius: .8em;
    padding: 1em;
    margin-top: 4em;
}

#btnHold {
    grid-area: 5 / 3 / 5 / 5;
    background: #eff7f6;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    align-self: center;
    border-style: solid;
    border-radius: .8em;
    padding: 1em;
    margin-bottom: 3em;
}

img {
    padding: 3em;
}



/*
previous btn code saved for drop shadow
#resetBtn {
    min-width: 100px;
    padding: 21px 17px;
    border-width:1px;
    border-radius: 8px;
    background: khaki;
    box-shadow: 3px 3px 0px 0px #C3B091;
    text-align: center;
    font-size: 1.2em;
    margin: 15px;
    display: none;
}
*/

